body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  background-image: url('img/pattern.jpeg');
  font-size: 60px;
  color: khaki;
  text-align: center;
}
.section-title {
  color: white;
}
#brushes .section-title {
  background-color: mediumspringgreen;
}
#frames .section-title {
  background-color: mediumvioletred;
}
#paint .section-title {
  background-color: deepskyblue;
}
strong.price {
  color: darkslateblue;
}
